.grad-border {
    background:  $grad-border;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    border-color: transparent;
    border-radius: 12px;
    border-width: 1px;
}

.dbl-click-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
}